@use "../utils/index" as ut;

.contact {
  background: ut.$color-1;
  margin-top: 3rem;

  /* form {
    width: 600px;
    text-align: center;

    .input-box {
      display: flex;
      flex-direction: column;
    }

    button {
      padding: 12px 32px;
      background: #0ef;
      border: none;
      outline: none;
      border-radius: 6px;
      box-shadow: 0 0 10px #0ef;
      font-size: 16px;
      color: #333;
      letter-spacing: 1px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 20px;
      transition: 0.5s;

      &:hover {
        box-shadow: none;
      }
    }

    .textarea-field {
      .input {
        resize: none;
      }

      .error-txt {
        margin-top: -10px;
      }
    }

    @media screen and(max-width:768px) {
      width: 100%;
      padding: 0 20px;
      transition: .3s ease-out;
    }
  } */
}

/* 
.field {
  .input {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #0ef;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
      font-size: 20px;
    }
  }

  .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0;
    display: none;
  }
}

.field.error {
  .input {
    border-color: #d93025;
  }

  .error-txt {
    display: block;
  }
} */
.contact-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  @media screen and (max-width:768px) {
    flex-direction: column;
    width: 100%;
  }

  .contact-img {
    width: 50%;

    @media screen and (max-width:768px) {
      width: 100%;
    }
  }

  .direct-contact-container {

    align-content: center;
    padding: 0 20px;

    .contact-list {
      list-style-type: none;
      /* margin-left: -30px; */
      /* padding-right: 20px; */

      .list-item {
        line-height: 4;
        color: #aaa;

        i:before {
          font-size: 30px;
          color: ut.$secondary-color;
        }

        .contact-text {
          letter-spacing: 1.9px;
          
        }
      }
    }
  }
}